header{
    width: 100%;
    /* FUENTE */
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.banner, .banner img{
    width: 100%;
}

nav{
    width: 100%;
    color: black;
    border-color: black;
    display: flex;
    flex-direction: column;
}

.nav-header{
    display: flex;
    align-items: center;
}

.logo-header img{
    width: 60%;
    padding: 0% 20%;
    position: relative;
    margin-top: -35px;   
    /* border-bottom: 4px ridge darkorange; */
}

.menu-header{
    text-align: center;
    width: 80%;
}

/* #menuHeader{
    transition-property: display;
    transition-duration: 2s;  */
/* } */

#menuBurguer{    
    color: darkorange;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 7px;
    padding: 8px;
    font-size: 2rem;
    margin-bottom: 0px;
}

.menu-header button, .menu-header li{
    cursor: pointer;
}

.menu-header button{
    border: none;
}

.menu-header ul{
    display: none;   
    height: auto;
    position: absolute;
    margin-top: 10px;
    left: 5%;
    right: 5%;
    border: 2px solid darkorange;
    padding: 2% 4%;
    border-radius: 15px;
    flex-direction: column;
    align-items: start;
    font-size: 22px;
    background-color: black;
}

.menu-header li{
    list-style: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    text-align: start;
    border: 1px solid;
}

.menu-header li:hover{
    background-color: black;
    border-color: darkorange;
}

.menu-header li i{
    text-align: center;
    margin-right: 5px;
    width: 50px;
}

.menu-header li a{
    text-decoration: none;
    color: darkorange;
}

.icons-header{
    display: none;
}



/* <-------------------- RESPONSIVE --------------------> */

/* ----- TABLET ----- */

@media (min-width: 765px) {

    header{
        margin-top: -5%;
    }
    
    .nav-header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
        margin-top: -8%;
        padding-bottom: 1%;
        border-bottom: 4px ridge darkorange;
    }

    .logo-header{
        width: 20%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .logo-header img {
        padding: 0;
        margin: 0;
    }

    #menuBurguer{
        display: none;
    }

    .menu-header {
        width: 75%;
        margin-bottom: 10px;
    }

    .menu-header ul {
        display: flex;
        border: none;
        flex-direction: row;        
        justify-content: space-evenly;
        padding: 0;
        background: none;
        position: relative;
        left: 0;
        right: 0;
    }
    
    .menu-header li {
        list-style: none;
        padding: 0;
        background-color: black;
        margin: 0 5px;
        font-size: 1rem;
        border: none;
    }
    
    .menu-header li i {
        width: auto;
    }

    .menu-header ul li a{
        display: flex;
        align-items: center;
        border: 3px solid darkorange;
        padding: 6px;
        border-radius: 10px;
    }

    .menu-header ul li a:hover{
        background-color: darkorange;
        color: black;
        border-color: black;
    }



}


/* ----- LAPTOP ----- */


@media (min-width: 1020px) {

    .menu-header ul{
        margin-bottom: 2%;
    }

    .menu-header ul li{
        font-size: 1.5rem;
    }

}