<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <title>MUNDO MASCOTAS</title>
</head>

<body>

<!--    /------------------ HEADER ------------------/    -->

<%- include ('./partials/header') %> 

<!--    /------------------ MAIN ------------------/    -->

    <main>
        <section class="section-1">
            <div class="quienes-somos">
                <h1>¿Quienes Somos?</h1>
                <h3>¡Conocenos!</h3>
            </div>
            <div class="description">
                <h1 class="text-red-600">¡Hola!</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, similique rerum! Minima perferendis optio iste ex vel nemo est hic voluptates repellat! Minus eius ipsam asperiores tenetur optio eaque dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iste ipsa quos culpa natus dolore deleniti voluptates doloremque est pariatur quisquam minima temporibus, nisi dicta voluptatum quod! Quae, ullam culpa.</p>
            </div>
            </section>

            <section class="section-2">
                <div class="adoptantes">
                    <h1>Nuestros amigos peludos</h1>
                    <h3>¡Conocelos!</h3>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, similique rerum! Minima perferendis optio iste ex vel nemo est hic voluptates repellat! Minus eius ipsam asperiores tenetur optio eaque dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iste ipsa quos culpa natus dolore deleniti voluptates doloremque est pariatur quisquam minima temporibus, nisi dicta voluptatum quod! Quae, ullam culpa.</p>
            </section>
    </main>

<!--    /------------------ FOOTER ------------------/    -->

    
    <%- include ('./partials/footer') %> 


</body>
</html>