<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <title>MUNDO MASCOTAS</title>
</head>

<body>

<!--    /------------------ HEADER ------------------/    -->

<%- include ('./partials/header') %> 

<!--    /------------------ MAIN ------------------/    -->

    <main>
        <section>
            <h1 class="text-red-600">Bienvenidos</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, similique rerum! Minima perferendis optio iste ex vel nemo est hic voluptates repellat! Minus eius ipsam asperiores tenetur optio eaque dolor.</p>
        </section>
    </main>

<!--    /------------------ FOOTER ------------------/    -->

    
    <%- include ('./partials/footer') %> 


</body>
</html>