<footer>
    <div class="footer-copyright">
        <p>COPYRIGHT 2024</p>
    </div>
    <div class="footer-redes">
        <ul>
            <li class="redes" id="facebook">Facebook</li>
            <li class="redes" id="instagram">Instagram</li>
            <li class="redes" id="x">X</li>
        </ul>
    </div>
</footer>