<footer>
    <div class="footer-redes">
        <h2>¿Como puedo adoptar?</h2>
        <h4>¡Contactenos!</h4>
        <div class="contenedor-redes">
            <div class="redes-sociales">
                <i class="fab fa-whatsapp"  id="whatsapp"></i><p class="redes">Whatsapp</p>
            </div>
            <div class="redes-sociales">
                <i class="fab fa-instagram" id="instagram"></i><p class="redes" >Instagram</p>
            </div>
            <div class="redes-sociales">
                <i class="fab fa-facebook-square" id="facebook"></i><p class="redes">Facebook</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>COPYRIGHT 2024 - MUNDO MASCOTAS</p>
    </div>
</footer>