<header>
    <div class="banner">
        <img src="./img/banner.png" alt="banner">
    </div>
    <nav class="nav-header" id="navHeader">
        <div class="logo-header">
            <img src="./img/logo-white.png" alt="logo-white">
        </div>
        <div class="menu-header">
            <ul>
                <li class="nav-li"><a href="#home"></a>Home</li>
                <li class="nav-li"><a href="#adoptame"></a>Adoptame</li>
                <li class="nav-li"><a href="#sobreNosotros">Sobre Nosotros</a></li>
                <li class="nav-li"><a href="#contact"></a>Contacto</li>
            </ul>
        </div>
        <div class="icons-header">
            <i class="fas fa-paw"></i>
        </div>

    </nav>
</header>