<header>
    <div class="header-class"> 
        <div class="banner">
            <img src="./img/banner.png" alt="banner">
        </div>
        <nav class="nav-header" id="navHeader">
            <div class="logo-header">
                <img src="./img/logo-black.png" alt="logo-white">
            </div>
            <div class="menu-header">
                <!-- MENU BURGUER -->
                <i class="fas fa-bars" id="menuBurguer"></i>
                <!-- MENU NORMAL -->
                <ul>
                    <li class="nav-li"><a href="#home"><i class="fas fa-home"></i>Home</a></li>
                    <li class="nav-li"><a href="#adoptame"><i class="fas fa-paw"></i>Adoptame</a></li>
                    <li class="nav-li"><a href="#sobreNosotros"><i class="fas fa-heart"></i>Sobre Nosotros</a></li>
                    <li class="nav-li"><a href="#contact"><i class="fas fa-mobile-alt"></i>Contacto</a></li>
                </ul>
            </div>      
        </nav>
    </div>
</header>